/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
 font-family: 'Roboto', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #444;
  letter-spacing: 20px;
}

#logo{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}

#input-holder {
  border: 2px white solid;
  background: black;
  opacity: .5;
  padding: 15px;
}

input {
  color: White;
}

#find-info{
  width: 200px;
  background: white;
  color: black;
}

#paradise{
  filter: blur(2px);
}

#intro {
  padding: 10px; 
  border: 2px white solid;
  background: black;
  opacity: .5;
}

#news-wrapper{
  box-shadow: 1px 1px 20px black;
  border-radius: 5px;
}

#information {
  padding-left: 150px;
}

#article-wrapper{
  box-shadow: 1px 1px 20px black;
  border-radius: 5px;
}

p {
  line-height: 2rem;
  font-family: 'Roboto', sans-serif;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#info {
  margin-left: 50px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer{
  background: #1a75ff;
  opacity: .5;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}

h5{
  font-size: 20px;
}

input {
  box-shadow: 2px 2px black;
}

